.mainpage {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  // background: #f1fcfa;
  // background: #f2f8f7;

}


.mainpage-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.mainpage-trans {
  margin-top: 50px;
}
.user-all {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 50px;
}
.mainpage-col1 {
  display: flex;
  flex-direction: column;
  padding-top: 70px;;
}

.mainpage-col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  width: 650px;
  background: white;
  border-radius: 10px;
  height: 200px;
}

.trans-nav strong {
  color: white;
  font-size: 22px;

}
.user-prof-1 {
  padding: 20px;
}

.user-prof-1 div {
  display: flex;
  padding-top: 10px;
  color: #545d66;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 22px;
}
.mainpage-user-prof {
  display: flex;
  padding-left: 10px;
}

.user-credit {
  margin: auto;
  color: #3d95ce;
  font-size: 40px;
  font-weight: bold;
}

.atag4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #3d95ce;
  font-size: 19px;
  font-weight: 500;
  border: 1px solid #3d95ce;
  border-radius: 5px;
  padding: 7px 10px;
}

#footer-replace2 {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #3d95ce;
  background: white;
  margin-top: 100px;
}

#footer-help5 {
  color: rgb(100, 100, 100);
  font-size: 17px;
}
