.requests-feed {
  background: white;
  margin-top: 47px;
}

.transaction-index1 {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  border-bottom: 8px solid #f0eded;
  border-bottom-left-radius: 100px;
  padding: 25px;
  width: 580px;
  height: 210px;
}