.in-navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  max-height: 70px;
  background: #fff;
  border-bottom: 1px solid #ededed;
}

.out-navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  max-height: 70px;
  background: #fff;  
}

.logo-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 37px;
}

.logo-menu-icon {
  padding-right: 22px;
}

.splashlogo {
  width: 95px;
  height: 18.21px;
  cursor: pointer;
}

.splash-link-signup {
  cursor: pointer;
  width: 115px;
  height: 38px;
  border-radius: 8px;
  background: #007f6e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.splash-link-signup:hover {
  background: #0aa18d;
}

.signup-link {
  text-decoration: none;
  color: #007f6e;
  margin-left: auto;
  margin-right: 40px;
}

.signup-link:hover {
  color: #025a4e;
}

#signup-now-text {
  font-size: 16px;
  font-weight: bolder;
}

.splash-link-login {
  cursor: pointer;
  width: 100px;
  height: 38px;
  border-radius: 8px;
  background: #7e9daa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 55px;
}

.splash-link-login:hover {
  background: #81969e;
}

.logout-link {
  text-decoration: none;
  color: #68787f;
  margin-right: 45px;
}

.logout-link:hover {
  color: black;
}

#login-text {
  font-size: 16px;
  font-weight: bolder;
}

#nav-text1 {
  font-size: 13px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin-left: 42px;
  letter-spacing: 1px;
}

#nav-text2 {
  font-size: 13px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin-left: 24px;
  letter-spacing: 1px;
}

@media screen and (max-width: 830px) {
  #nav-text1 {
    display: none;
  }

  #nav-text2 {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .splash-link-signup {
    margin-right: 25px;
  }

  .splash-link-login {
    margin-right: 30px;
  }
}