.in-navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: #3d95ce;
}

#navholder {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

#faplusicon {
  display: flex;
  align-items: center;
}

.logo-div {
  display: flex;
}

.nav-search {
  display: flex;
  outline: none;
  height: 58%;
  min-width: 255px;
  padding-left: 8px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
  // border-radius: 5px;
  margin-right: 5px;
  margin-left: 12px;  
  border: 1px solid #2169A1;
}

.nav-search-icon {
  position: absolute;
  left: 197px;
  top: 5px
}

.logo-links1 {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  min-width: 33%;
  height: 100%;
  color: white;
  justify-content: center;
  // margin-left: auto;
}

.nav-home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  height: 100%;
  text-shadow: 0 1px 0 #1B567F;
  font-weight: 450;
  padding: 0 10px;
  margin-right: 6px;
}

#navusername {
  font-weight: 900;
}


.nav-home-link:hover {
  background-color: #50a9e6;
}

.nav-user-link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 17px;
  font-weight: bolder;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
  height: 53px;
}

.nav-left-side div:hover {
  background-color: #17b8a2;
}

.nav-user-link:hover {
  background-color: #17b8a2;
}

.out-navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  max-height: 70px;
  background: #fff;  
  border-bottom: 1px solid #ededed;
  // margin: 0px 50px;
}

#homelink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
}

.logo-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  // padding-left: 50px;
}

.logo-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.logo-menu-icon {
  margin-right: 22px;
  position: relative;
  display: inline-block;  
  cursor: pointer;
}

.logo-links {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  min-width: 33%;
  
}

.atag {
  display: flex;
  align-items: center;
  margin-right: 40px;
  text-decoration: none;
  color: #3d95ce;
  font-size: 17px;
}

.atag:hover {
  color: #95c3e2;
}

#mailref {
  margin-right: 60px;
}

.splash-link-signup {
  cursor: pointer;
  background: #3d95ce; 
  margin-right: 40px;
}

.signup-link {
  text-decoration: none;
  color: #3d95ce;
  margin-right: 40px;
}

.signup-link:hover {
  display: flex;
  align-items: center;
  color: #95c3e2;
}

#signup-now-text {
  font-size: 17px;
  font-weight: 500;
}

.logout-link {
  text-decoration: none;
  color: #68787f;
}

.logout-link:hover {
  color: black;
}


.logo-div {
  // display: flex;
  // align-items: center;
  cursor: pointer;
}

.logo-menu-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 200px;
  margin-right: 45px;
  height: max-content;
  border-radius: 10px;
  left: -20px;
  border: 1px solid whitesmoke;
  opacity: 0.85;
}

.logo-menu-content p {
  padding-left: 25px;
  // color: rgb(100, 100, 100);
  color: #026457;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  border: 0;
}

.logo-menu-icon:hover .logo-menu-content {
  display: block;
}

.logo-menu-content p:hover {
  background: #3d95ce;
  color: #fff;
}

.splashlogo {
  width: 95px;
  height: 18.21px;
  cursor: pointer;
  // margin-right: 1px;
}
.splashlogo1 {
  width: 123px;
  height: 23.5px;
  cursor: pointer;
  // margin-right: 1px;
}


@media screen and (max-width: 830px) {
  
}

@media screen and (max-width: 550px) {
  
}

// input::placeholder {
//   color: grey;
// }