.mainpage-create-trans {
  display: flex;
  background: #fff;
  // border-radius: 10px;
  border: 1px solid #bbb;
}

.trans-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-trans-form1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;

}

.trans-form1 {
  display: flex;
  align-items: center;
  // padding: 10px;
}

.trans-form2 {
  display: flex;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;

}

// .recipient-div input {
//   width: 100px;
//   height: 30px;
//   border: 1px solid #3d95ce;

// }

.trans-top .trans-nav {
  height: 55px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #e9e9e9;
}

.trans-top .trans-nav strong {
  font-size: 20px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: none;
}

#reqbtn-trans {
  border-left: none;
}

#trans-nav-sep {
  width: 1.5px;
  // height: 50%;
  height: 100%;
  background: white;
}

.trans-top .trans-nav strong:hover {
  background: #50a9e6;
  color: white;
}

.recipient-div input{
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #545d66;
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-left: 8px;
  color: #545d66;
  // border-bottom: 2px solid ;
}

.transaction-description input {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #545d66;
  width: 350px;
  height: 30px;
  font-size: 18px;
  margin-top: 15px;
  color: #545d66;
}

.form-amount input {
  // text-align: center;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  // border-bottom: 2px solid #545d66;
  width: 180px;
  height: 60px;
  font-size: 35px;
  font-weight: bolder;
  color: #545d66;
  // margin-right: 10px;
}

.form-amount span {
  text-align: center;
  font-size: 27px;
  margin-right: 5px;
  color: grey;
}

.trans-errors {
  color: black;
}