.trans-feed {
  background-color: white;
  border: 1px solid #bbb;
  width: 100%;
}

.trans-nav {
  background: #3d95ce;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}
.trans-nav1 {
  background: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  // border-left: 1px solid #bbb;
  border-bottom: 1px solid #e8e8e8;
}

.trans-nav1 button {
  margin-left: 17px;
  padding: 7px 14px;
  border-radius: 20px;
  text-align: center;
  // width: 70px;
  color: #999;
  background: #f8f8f8;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  border: 1px solid #ccc;
}

.trans-nav1 button:hover {
  border: 1px solid #3d95ce;
  color: #3d95ce;
}

#trans-btn3 {
  background: #e9f4fa;
  color: #4884f7;
  border: 1px solid #adccf7;
}

.trans-index-show {
  display: none;
}

#users-trans {
  display: flex;
  flex-direction: column;
}

.transaction-index {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  border-bottom: 8px solid #EEF0F4;
  border-bottom-left-radius: 100px;
  padding: 25px;
  height: 210px;
}

.trans-summary {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 55%;
  width: 100%;
}

.trans-logo-pic {
  width: 65px;
  height: 65px;
  padding-right: 10px;
}

.trans-descr {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.transaction-description {
  color: #262626;
  padding-left: 8px;
  font-size: 27px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}

.trans-descr strong {
  color: #545d66;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 22px;
}

.transaction-users {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
}

.transaction-users div {
  color: #6a757f;
  font-size: 20px;
}

.transaction-date {
  color: #6a757f;
  font-size: 13px;
  line-height: 16px;
  padding-left: 8px;
}

.trans-amount {
  display: flex;
  justify-content: flex-end;
  width: 80px;
  color: #d0011b;
  font-size: 27px;
  font-weight: bold;
}


.trans-like-btn {
  display: flex;
  padding-left: 55px;
  align-items: center;
}

.trans-heart-btn {
  color: #6a757f;
  cursor: pointer;
}
.trans-heart-btn1 {
  color: #6a757f;
}

.trans-heart-btn:hover {
  color: #d0011b;
}

.trans-heart-btn:focus {
  color: #d0011b;
}


.trans-cmt-text {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 8px;
  font-size: 13px;
  color: #6a757f;
  width: 472px;;
}

.transaction-comment {
  padding-top: 15px;
  margin-left: 82px;
}

.transaction-comment input {
  outline: none;
  height: 27px;
  width: 460px;
  padding-left: 8px;
}
// .trans-amount {
//   margin: auto;
// }
