#official-signup-div {
  display: flex;
  background: lightgray;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#space-creator {
  margin-bottom: 70px;
}

.signin-content {
  background: lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 755px;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.splashlogo1 {
  width: 150px;
  height: 28.74px;
  margin-bottom: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  border-radius: 10px;
  width: 400px;
  height: 480px;
}

#login-circle {
  margin-top: 15px;
}

#create-acct {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 35px;
  margin-top: 5px;
}

.signup-form input {
  background: #dee2e5;
  width: 50%;
  height: 8%;
  border-radius: 6px;
  border: none;
  margin-top: 22px;
  font-size: 17px;
  font-weight: bolder;
  padding-left: 12px;
}

#signup-button {
  text-decoration: none;
  cursor: pointer;
  width: 115px;
  height: 44px;
  border-radius: 8px;
  background: #007f6e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#signup-button:hover {
  background: #0aa18d;
}

#signup-button-text {
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
}

#already-user {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 20px;
}

#signin-demo-btns {
  display: flex;
}

#signup-button2 {
  text-decoration: none;
  cursor: pointer;
  width: 115px;
  height: 44px;
  border-radius: 8px;
  background: #7e9daa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 15px;
}

#signup-button2:hover {
  background: #81969e;
}