.signin-content {
  background: #19a08e;
  display: flex;
  height: 770px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.splashlogo1 {
  width: 150px;
  height: 28.74px;
  margin-bottom: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  border-radius: 25px;
  width: 430px;
  height: 530px;
}

#login-circle {
  margin-top: 15px;
}

#create-acct {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.signup-form input {
  background: #dee2e5;
  width: 48%;
  height: 6%;
  border-radius: 12px;
  border: none;
  margin-top: 25px;
  font-size: 17px;
  font-weight: bolder;
  padding-left: 12px;
}

#signup-button {
  text-decoration: none;
  cursor: pointer;
  width: 115px;
  height: 44px;
  border-radius: 100px;
  background: #007f6e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#signup-button:hover {
  background: #0aa18d;
}

#signup-button-text {
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
}

#already-user {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 20px;
}